  /* footer container li */
  .footer-container{
    width: 100%;
    height: auto;
    /* position: relative; */
    padding: 2rem 0 2.5rem;
    background-color: #1f1f1f;
    /* top: 41px; */
  }
  .footer-li-head{
    font-size:20px;
    font-weight: 700;
    margin-bottom: 1.5rem;
    color: #bdbdbd;
  }
  .footer-li{
    padding: 1px;
    color: #bdbdbd;
  }
.footer-li a{
  text-decoration: none;
  color: #bdbdbd;
  transition:0.6s;
  transition-property:color,font-weight;
}
.footer-li a:hover{
  text-decoration: none;
  color:#33A137;
  font-weight: bold;
}
.footer-li i{
  color: #bdbdbd;
}
.roshan-digital{
  width: 150px;
}
.footer-icon{
  margin: 5px;
  border-radius: 45px;

}
.footer-icon img{
  width: 30px;
  border-radius: 30px;}