:root
{
	--green:#33A137;
	--light-red:#f9edeb
}
section
{
	padding:10px 2%;
}

.btn:hover
{
	background:var(--green);
	color:#fff
}

.heading
{
	/* text-align:center; */
	color:#333;
	/* font-size:45px; */
	/* padding-bottom:30px */
}

.heading span
{
	color:var(--green);
	padding:0px 5px;
}

.services .box-container
{
	display:flex;
	flex-wrap:wrap;
	gap:1.5rem
}

.services .box-container .box
{
	flex:1 1 25px;
	border-radius:10px;
	background:#fff;
	box-shadow:0 10px 15px rgba(0,0,0,.1);
	border:.1px solid rgba(0,0,0,.2);
	text-align:center;
	padding:20px
}

.services .box-container .box h3
{
	font-size:30px;
	font-weight:600;
	color:#333
}

.services .box-container .box p
{
	font-size:13px;
	color:#666;
	padding:5px 1px;
	line-height:2
}

.services .box-container .box .btn
{
	margin-top:10px;
	display:inline-block;
	padding:10px 20px;
	border-radius:5px;
	font-size:15px;
	color:#000;
	cursor:pointer;
	text-align:center
}

.services .box-container .box .btn:hover
{
	background:var(--green);
	color:#fff
}

.agents .box-container
{
	justify-content:center
}

.agents .box-container .box
{
	background:#fff;
	text-align:center;
	border:1px solid rgba(0,0,0,.2);
	box-shadow:0 5px 10px rgba(0,0,0,.1);
	border-radius:5px;
	padding:1px;
	position:relative;
	max-width:330px
}

a:hover
{
	text-decoration:none!important
}

.agents .box-container .box .fa-envelope
{
	position:absolute;
	top:13px;
	left:16px;
	color:#333;
	font-size:25px
}

.agents .box-container .box .fa-envelope:hover
{
	color:var(--green)
}

.agents .box-container .box .fa-phone
{
	position:absolute;
	top:13px;
	right:16px;
	color:#333;
	font-size:25px
}

.agents .box-container .box .fa-phone:hover
{
	color:var(--green)
}

.agents .box-container .box img
{
	border-radius:50%;
	box-shadow:0 0 0 6px rgba(0,0,0,.1);
	object-fit:cover;
	height:150px;
	max-width:150px;
	margin:40px 0
}

.agents .box-container .box h3
{
	font-size:30px;
	color:#333
}

.agents .box-container .box span
{
	font-size:18px;
	color:var(--green)
}

.agents .box-container .box .share
{
	padding-top:5px
}

.agents .box-container .box .share a
{
	margin:0 6px;
	height:40px;
	width:40px;
	line-height:40px;
	background:#f7f7f7;
	color:#666;
	border-radius:4px;
	font-size:30px;
	text-decoration:none
}

.agents .box-container .box .share a:hover
{
	background:var(--green);
	color:#fff;
	text-decoration:none!important
}

.featured .property-box-container .box
{
	border:1px solid rgba(0,0,0,.2);
	box-shadow:0 6px 12px rgba(0,0,0,.1);
	border-radius:5px;
	overflow:hidden;
	background:#fff;
	flex:1 1 400px
}

.featured .property-box-container .box .image-container
{
	overflow:hidden;
	position:relative;
	width:100%;
	height:250px
}

.featured .property-box-container .box .image-container img
{
	width:100%;
	height:100%;
	object-fit:cover;
	transition:.2s linear
}

.featured .property-box-container .box:hover .image-container img
{
	transform:scale(1.1)
}

.featured .property-box-container .box .image-container .info
{
	position:absolute;
	top:12px;
	left:0;
	display:flex
}

.featured .property-box-container .box .image-container .info h3
{
	font-weight:500;
	font-size:13px;
	color:#fff;
	background:rgba(0,0,0,.3);
	border-radius:6px;
	padding:5px 13px;
	margin-left:13px
}

.featured .property-box-container .box .image-container .icons
{
	position:absolute;
	bottom:13px;
	right:0;
	display:flex;
	align-items:center;
	align-self:center
}

.featured .property-box-container .box .image-container .icons a
{
	font-size:15px;
	color:#fff;
	display:flex;
	background:rgb(0, 0, 0,0.1);
	border-radius:6px;
	margin-right:16px;
	padding:8px
}

.featured .property-box-container .box .image-container .icons a h3
{
	font-weight:500;
	padding-left:12px;
	font-size:13px
}

.featured .property-box-container .box .image-container .icons a:hover
{
	color:var(--green)
}

.featured .property-box-container .box .content
{
	padding:10px
}

.featured .property-box-container .box .content .price
{
	display:flex;
	align-items:center
}

.featured .property-box-container .box .content .price h3
{
	color:var(--green);
	font-size:18px;
	margin-right:auto
}

.featured .property-box-container .box .content .price a
{
	color:#666;
	font-size:18px;
	margin-right:6px;
	border-radius:5px;
	width:45px;
	line-height:35px;
	text-align:center;
	background:#f7f7f7
}

.featured .property-box-container .box .content .price a:hover
{
	background:var(--green);
	color:#fff
}

.featured .property-box-container .box .content .location
{
	padding:8px 0
}

.featured .property-box-container .box .content .location h3
{
	font-size:18px;
	color:#333
}

.featured .property-box-container .box .content .location p
{
	font-size:15px;
	color:#666;
	line-height:1.2;
	margin-bottom:3px!important
}

.featured .property-box-container .box .content .details
{
	padding:2px;
	display:flex
}

.featured .property-box-container .box .content .details h3
{
	flex:1;
	padding:8px 0;
	border:1px solid rgba(0,0,0,.1);
	color:#999;
	font-size:14px
}

.featured .property-box-container .box .content .details h3 i
{
	color:#333;
	padding-left:6px
}

.featured .property-box-container .box .content .buttons
{
	margin:4px 0;
	display:flex;
	gap:15px;
	
}

.featured .property-box-container .box .content .buttons .btn
{
	flex:1;
	font-size:14px;
	text-transform: capitalize !important;
	outline:1px solid #33A137;
}
