@media (max-width: 1366px){
  .get-container-app-main {
      max-width: 1100px;
  }
  
  .get-container-app-main {
      max-width: 1200px;
      margin-left: auto;
      margin-right: auto;
      -webkit-transition: max-width .25s ease-in;
      transition: max-width .25s ease-in;
  }
  .div-icon-a-a {
      background: url(https://www.zameen.com/assets/iconGooglePlayEN_noinline.9892833785b26dd5896b7c70b089f684.svg) 50%/contain no-repeat;
  }
  .div-icon-a-a, .div-icon-a {
      width: 13.2rem;
      height: 4rem;
      display: inline-block;
  }
  .div-icon-a {
      background: url(https://www.zameen.com/assets/iconAppStoreEN_noinline.a731d99c8218d6faa0e83a6d038d08e8.svg) 50%/contain no-repeat;
      margin-right: 1rem;
  }
  .div-icon-a-a, .div-icon-a {
      width: 110px;
      height: 30px;
      display: inline-block;
  }
  .main-div {
      max-width: 1200px;
      height: 20.4rem;
      background: url(https://www.zameen.com/assets/mobileAppsBackground.937eb86be98b3bde537276043aa8e3da.png) no-repeat;
      background-size: contain;
      background-position-y: bottom;
      background-position-x: center;
      margin: 0 auto;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
  }
  .get-app-icon, .main-text {
      vertical-align: top;
      width: 36rem;
      margin: 2rem 0;
  }
  .get-the-zameen-app {
      color: #00a651;
      font-size: 40px;
      font-weight: 700;
  }
  .get-the-zameen-app-text {
      font-size: 18px;
      font-weight: 700;
      width: 80%;
      line-height: normal;
  }
  .get-app-icon, .main-text {
      vertical-align: top;
      width: 36rem;
      margin: 2rem 0;
  }
  .div-icon {
      text-align: right;
      margin-bottom: 2rem;
  }
  .qr-main {
      text-align: right;
      vertical-align: top;
  }
  .qr-icon-qr, .qr-div {
      display: inline-block;
      vertical-align: top;
  }
  .qr-get-text {
        margin-left: auto;
    margin-right: 4rem;
    font-size: 1.4rem;
    font-weight: 700;
    width: 14rem;
    line-height: normal;
  }
  .qr-icon-arrow {
      width: 3.5rem;
      height: 3.5rem;
      margin-top: 0.3rem;
      margin-left: auto;
      margin-right: 1.7rem;
      background-image: url(https://www.zameen.com/assets/qrCodeArrow_noinline.bdbb701e7f5440b514ee75133dc37bc1.svg);
      background-repeat: no-repeat;
      background-position: 50%;
      background-size: contain;
  }
  .qr-icon-qr {
      background-image: url(https://www.zameen.com/assets/qrCode_noinline.e5d2f443b62e7e309972440f4958e107.svg);
      background-size: contain;
      width: 8.4rem;
      height: 8.4rem;
  }
  .qr-icon-qr, .qr-div {
      display: inline-block;
      vertical-align: top;
  }
}
@media (max-width:720px) {
  .get-container-app-main {
      max-width: 1100px;
      /* border: 2px solid red; */
  }
  
  .get-container-app-main {
      max-width: 1100px;
      margin-left: auto;
      margin-right: auto;
      -webkit-transition: max-width .25s ease-in;
      transition: max-width .25s ease-in;
      
  }
  .div-icon-a-a {
      background: url(https://www.zameen.com/assets/iconGooglePlayEN_noinline.9892833785b26dd5896b7c70b089f684.svg) 50%/contain no-repeat;
  }
  .div-icon-a-a, .div-icon-a {
      width: 13.2rem;
      height: 4rem;
      display: inline-block;
  }
  .div-icon-a {
      background: url(https://www.zameen.com/assets/iconAppStoreEN_noinline.a731d99c8218d6faa0e83a6d038d08e8.svg) 50%/contain no-repeat;
      margin-right: 1rem;
  }
  .div-icon-a-a, .div-icon-a {
        width: 100px;
    height: 27px;
    display: inline-block;
  }
  .main-div {
      max-width: 1100px;
      height: 20.4rem;
      background: url(https://www.zameen.com/assets/mobileAppsBackground.937eb86be98b3bde537276043aa8e3da.png) no-repeat;
      background-size: contain;
      background-position-y: bottom;
      background-position-x: center;
      margin: 0 auto;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
  }
  .get-app-icon, .main-text {
      vertical-align: top;
      width: 36rem;
      margin: 2rem 0;
      /* border: 2px solid yellow; */
  }
  .get-the-zameen-app {
      color: #00a651;
      font-size: 20px!important;
      font-weight: 700;
  }
  .get-the-zameen-app-text {
    
    font-size: 15px!important;
    font-weight: 600;
    width: 80%;
    /* line-height: normal; */

  }
  .get-app-icon, .main-text {
      vertical-align: top;
      width: 36rem;
      margin: 0px 10px;
  }
  .div-icon {
      text-align: right;
      margin-bottom: 2rem;
  }
  .qr-main {
      text-align: right;
      vertical-align: top;
  }
  .qr-icon-qr, .qr-div {
      display: inline-block;
      vertical-align: top;
  }
  .qr-get-text {
    /* margin-left: auto;
    margin-right: 4rem; */
    font-size: 16px;
    font-weight: 700;
    width: 150px !important;
    line-height: normal;
  }
  .qr-icon-arrow {
        width: 2.5rem;
    height: 2.5rem;
    margin-top: -0.3rem;
    margin-left: 25px;
    margin-right: 1.7rem;
    /* background-image: url(https://www.zameen.com/assets/qrCodeArrow_noinline.bdbb701….svg); */
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: contain;
  }
  .qr-icon-qr {
      background-image: url(https://www.zameen.com/assets/qrCode_noinline.e5d2f443b62e7e309972440f4958e107.svg);
      background-size: contain;
      width: 7.4rem;
      height: 7.4rem;
  }
  .qr-icon-qr, .qr-div {
      display: inline-block;
      vertical-align: top;
  }
}
  /* section partener */
  .partener-heading {
      color: #1f1f1f;
      font-size: 35px;
      font-weight: 700;
      margin-bottom: 25px;
  }
  .partener-img {
      -o-object-fit: contain;
      object-fit: contain;
      height: 50px;
      max-width: 120px;
      /* border: 2px solid #453390; */
  }
  .mcb{
      -o-object-fit: contain;
      object-fit: contain;
      height: 40px;
      max-width: 120px;
  }
  .partner-span {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #ebebeb;
    width: 100%;
    height: 60px;
}
  .partener-div-1 {
      margin-left: auto;
      margin-right: auto;
      background-color: #f0f0f0;
  }
  @media (max-width: 1366px){
  .partener-div-2 {
      max-width: 1100px;}
  }
  .partener-div-2 {
      max-width: 1200px;
      margin-left: auto;
      margin-right: auto;
      -webkit-transition: max-width .25s ease-in;
      transition: max-width .25s ease-in;
  }
  @media (max-width: 1100px){
  .partener-div-3 {
      padding-left: 0;
      padding-right: 0;}
  }
  .partener-div-3 {
      max-width: 1200px;
      width: 100%;
      margin: 0 auto;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
  }
  .container-div {
      width: inherit;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      padding: 22px 0;
      /* border: 2px solid red!important; */
  }
