.content-container{
    /* position: relative; */
    /* top: 65px; */
    width: 100%;
    height: auto;
    margin-top: 65px;
}
/* Error page  */
.error_page_not_found{
    height: 100vh;
    display: grid;
    place-items: center;
}
.error_text{
    color: rgb(65, 64, 64);
}