
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap");
* {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
	outline:none;
	border:none;
	text-decoration:none;
	text-transform:capitalize
}
html{
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 7rem;
  font-family: "Lato", sans-serif;
}
body {
  scroll-behavior: smooth;
  font-family: "Lato", sans-serif;
  font-size: 13px;
  line-height: initial;
  overflow-x: hidden;
  min-height: 100vh;
  background:#f7f7f7
}

.spacer60 {
  height: 60px;
  clear: both;
}
.spacer {
  height: 15px;
  clear: both;
}
.clearfix,
.clearfix:after,
.clearfix:before {
  clear: both;
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
  color: #5b91e7;
}
a:hover{
  text-decoration:none;
}



/* navbar */
.nav-link-auth{
    text-decoration: none;
    color: #fff;
}
.nav-link-auth:hover{
    text-decoration: none !important;
    color: #000 !important;
}
/* full screen nav link */
.nav-link-main{
    color: #fff !important;
    text-decoration: none !important;
}
.nav-link-main:hover{
    color: #000 !important;
    text-decoration: none !important;
    font-weight: bolder;
}